# Dependencies
node_modules/

# Next.js Build Output
.next/
out/

# General Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables
.env
.env.*
!.env.example
!.env.test

# Testing Output
coverage/

# Cache / Temporary
.eslintcache
.stylelintcache
.pnpm-store/
.supabase/
supabase/.branches/
supabase/.temp/

# Deployment Platforms
.netlify/
.vercel/
.wrangler/

# Certificates
certificates/

# Operating System Files
.DS_Store
Thumbs.db

# IDE / Editor Configs
.idea
.vscode

# Test files
testsprite_tests/tmp/
